.footer {
  height: fit-content;
  background-size: cover;
  background-position: bottom;
  position: relative;

  &__outline {
    width: 100vw;
    position: relative;
    left: -0.1rem;
    bottom: 0.2rem;
  }

  @include respond(small) {
  }
}

.impressum {
  width: 100%;
  position: relative;
  bottom: 0.4rem;
  display: flex;
  position: relative;
  justify-content: flex-end;
  color: $color-secondary;

  @include respond(small) {
    font-size: 0.8rem;
    justify-content: center;
    margin-right: 0;
  }

  &__contact {
    margin: 0 0.8rem;
    color: $color-secondary;
    transition: all 0.2s ease-in-out;
  }

  &__contact:hover {
    color: $color-primary;
    cursor: pointer;
  }

  a {
    display: flex;
    align-items: center;
  }

  img {
    opacity: 0.4;
    height: 1rem;
    margin: 0 0.8rem;
    color: $color-secondary;
    transition: all 0.2s ease-in-out;
    text-decoration: none;

    @include respond(small) {
      height: 0.8rem;
    }
  }

  img:hover {
    opacity: 1;
  }

  &__datenschutz {
    margin: 0 0.8rem;
    color: $color-secondary;
    transition: all 0.2s ease-in-out;
    text-decoration: none;

    &:hover {
      color: $color-primary;
    }
  }
}
