.header {
  height: fit-content;
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10rem;

  @include respond(small) {
    height: fit-content;
  }

  // @include respond(large) {
  //   height: 70rem;
  // }

  &__outline {
    width: 100vw;
    position: relative;
    left: 0;
    bottom: 0;
    transform: translate(0, 0.1rem);
  }

  &__outline__reader {
    width: 10vw;
    padding-top: 5rem;
    position: relative;
    left: -40% !important;
    top: 1rem !important;
    @include respond(small) {
    }
  }
}
