.headerIndex {
  height: fit-content;
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10rem;

  @include respond(small) {
    height: fit-content;
  }

  &__outline {
    width: 160vw;
    position: relative;
    left: 30%;
    bottom: 0;
    // transform: translate(0, 0.1rem);
  }
}

.headerProjects {
  height: fit-content;
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 10rem;

  @include respond(small) {
    height: fit-content;
  }

  &__outline__reader {
    width: 10vw;
    position: relative;
    left: 10%;
    @include respond(small) {
    }
  }

  &__outline__thinker {
    width: 10vw;
    position: relative;
    right: 10%;
    @include respond(small) {
    }
  }
}
