.nav {
  width: 100%;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  position: fixed;
  z-index: 1;
  background: $color-black;

  @include respond(small) {
    height: 8rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  &__logo a {
    color: $color-secondary;
    font-size: 1.5rem;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    animation-name: appear;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin-left: 4rem;

    &:hover {
      color: $color-primary;
    }

    @include respond(small) {
      font-size: 1.3rem;
      letter-spacing: 0.5rem;
      margin-left: 0rem;
    }
  }

  &__links {
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-end;
    letter-spacing: 0.2rem;
    position: relative;
    list-style-type: none;
    animation-name: appear;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    margin-right: 2rem;

    @include respond(small) {
      margin-right: 0;
      margin-top: -2rem;
      justify-content: center;
      font-size: 1.2rem;
      animation-name: none !important;
    }

    a {
      font-weight: 300;
      color: $color-secondary;
      text-decoration: none;
      animation-name: appear;
      animation-duration: 1s;

      @include respond(small) {
      }
    }

    a:hover {
      color: $color-primary;
    }
  }

  &.sticky {
    transition: background-color 1s ease;
    background: $color-grey;
  }
}

#active {
  color: $color-primary;
}
