*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  overflow-x: hidden;
  user-select: none;
  background-color: $color-black;
  font-size: 100%;
}

body {
  font-family: 'Poppins';
  font-weight: 400;
  color: $color-primary;
  text-align: justify;
}
