.index__main {
  height: fit-content;
  min-height: 80vh;
  background-color: $color-black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  font-size: 1.25rem;

  @include hideScrollBar;

  @include respond(small) {
    flex-direction: column;
    justify-content: flex-start;
    height: 50rem;
    margin: 3rem 0rem;
  }
}

.index__container {
  height: fit-content;
  color: $color-primary;
  display: flex;
  padding: 0rem 2rem 2rem 2rem;
  margin: 0rem 2rem 0rem 0rem;

  @include respond(small) {
    color: $color-primary;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0rem 4rem;
  }

  &-image {
    height: 13rem;
    width: 13rem;
    margin: auto 2rem;
    padding: 1rem;
    border-radius: 50%;

    @include respond(small) {
      height: 12rem;
      width: 12rem;
      margin: 2rem auto;
      padding: 1rem;
      border-radius: 50%;
    }
  }

  &-text {
    @include respond(small) {
      font-size: 1.15rem;
    }
  }
}
