.index__main {
  height: fit-content;
  min-height: 80vh;
  background-color: $color-black;
  display: flex;
  align-items: center;
  height: fit-content;
  justify-content: center;
  font-size: 1.125rem;

  @include hideScrollBar;

  @include respond(small) {
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
    margin: 3rem 0rem;
  }
}

.index__container {
  height: fit-content;
  color: $color-primary;
  display: flex;
  padding: 0rem 4rem 2rem 2rem;
  height: fit-content;

  @include respond(small) {
    color: $color-primary;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem;
    padding: 0rem 2rem 2rem 2rem;
  }

  &-image {
    height: 18rem;
    width: auto;
    margin: auto 2rem;
    padding: 1rem;
    border-radius: 10%;

    @include respond(small) {
      height: 15rem;
      width: auto;
      margin: 2rem auto;
      padding: 1rem;
      border-radius: 15%;
    }
  }

  &-text {
    @include respond(small) {
      font-size: 1rem;
    }
  }
}
